# Identifies files to be ignored by Git.
# Also used by fd|fdfind  to identify directories and files to ignore

# Generated USRHOME Files
bin/other/ausyscall-lookup.awk

# Backup files
*~

# Emacs temporary files
.#*
*#
\#*

# macOS files
.DS_Store


# executable files compiled locally
bin/compiled/cpp/clang-version/clang-version

# ----------------------------------------------------------------------------
